body{
    background-color: aliceblue;
    max-height: none;
    overflow-x: hidden; 
  }
  h1 {
    text-align: center;
    font-family: Pyunji R;
  }

  ul { 
    list-style-type: none; 
    overflow: hidden;
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjusted to evenly distribute items */
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0; 
  }
  
  li a {
    display: block;
    color: black;
    text-align: center; 
    text-decoration: none;
    margin: 0;
  }  
  
  li:first-child {
    margin-left: 0; /* Remove margin for the first li element */
  }
  
 
  .image {
    max-width: 35%;
    max-height: 50%;
  }

  #home-video-container {  
    margin: 0px;
    padding: 30px;
    background-image: url('image_signup.jpg');
    width: 100vw;  
    overflow: hidden;
  }
  
  #home-video {
    width: 80vw;
    height: 100%;
    object-fit: cover;
  }

  .new-album-introduction { 
    margin: 0px; 
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;  
    background-image: url('spotify_page.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
  }

  #new-album-image {
    background-size: cover;   
    width: 600px; 
    height: 600px;   
    background-image: url('remember-a-stranger.jpg'); 
  }

  #new-album-inspiration {
    width: 600px;
    margin-left: 100px;
  }

  #available-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
    background-size: cover;
    background-image: url('rmb-transparent.png');
    background-repeat: no-repeat;
    padding-top: 20px;
  }

  #about-us-container { 
    display: flex;
    flex-direction: row;
    align-items: center; /* Center child elements horizontally */
    background-size: cover;
    background-image: url('rmb-transparent.png');
    background-repeat: no-repeat;
    padding-top: 20px;
  }

  #merchpage-container {  
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center; /* Center child elements horizontally */
    background-size: cover;
    background-image: url('rmb-transparent.png');
    background-repeat: no-repeat;
    justify-content: space-between;
    padding-top: 20px;
  }

  .home-available-now {
    margin: 0px;  
    overflow: hidden;
    display: flex;
    flex-direction: row;      
    height: 90vh;
  }

  #home-white-cd { 
    width: 40vw;  
    height: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #home-blue-cd { 
    width: 40vw;  
    height: 1000px; 
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #white-cd-image {   
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center; 
  }

  #blue-cd-image { 
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center; 
  }

  #cdButton {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-color: grey;
  }

  #sign-up-container { 
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column; 
    background-size: cover;
    background-image: url('signup-transparent.png');
    background-repeat: no-repeat;  
    padding-top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #email, #password {
    width: 500px;
    height: 50px; 
    margin-bottom: 30px;
    border-radius: 20px;
    outline: none; 
    border: none;
  }

  input {
    padding-left: 20px; 
  }

  #checkoutButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: darkgrey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #signupbutton {
    width: 150px;
    height: 50px;
    border-radius: 20px; 
    border: 1px lightblue; 
    margin-bottom: 50px;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
    width: 300px;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .quantity-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #fff;
    padding: 5px;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .quantity-input {
    width: 100px; /* Adjust the width as needed */
    height: 40px;
    text-align: center;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 16px;
  }
  

  header{
    font-family: Mistral;
    font-size: 30px;
    text-align: center;
  }
  p{
    font-family: Pyunji R;
    font-size: 20px;
  }
  rem{
    font-family: Mistral;
    color: skyblue;
  }
  h2{
    font-family: Mistral;
    color:cadetblue;
  }
  h3{
    font-family: Pyunji R;
  }

  #merch-container { 
    width: 600px;
    height: 500px; 
    background-image: url('merch_whitesnow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #cd-desc-container { 
    padding-left: 100px; 
    display: flex; 
    flex-direction: column;
  }

  .cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product {
    display: flex;
    align-items: center;
  }
  
  .product img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .quantity, .total {
    text-align: center;
  }

  #all-tours-container {
    display: flex;
    flex-direction: column;
  }

  #single-tour-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    border: 2px solid cadetblue; 
    background-color: white;
    color: cadetblue;
  }

  @font-face {
    font-family: 'Pyunji R';
    src: url('pyunjir.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Mistral';
    src: url('MISTRAL.ttf') format('truetype');
  }  
  
  .contactus{
    /* The image used */
  background-image: url("spotify_page.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
 
